#about-us {
    //about us info 
    .about-us-info {
        padding: 40px 0 100px 0;
        @media screen and (min-width: 1200px) {
            display: flex;
        }
        .about-us-info-text {
            width: 100%;
            @media screen and (min-width: 1200px) {
                width: 50%;
            }
            p {
                padding-bottom: 25px;
            }
        }

        .about-us-info-image {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (min-width: 1200px) {
                width: 50%;
                justify-content: flex-end;
            }
            h2 {
                margin: 0;
                font-size: 30px;
                @media screen and (min-width: 1200px) {
                    font-size: 70px;
                }
            }
            p {
                font-size: 14px;
                margin-top: 0;
            }
            .about-us-image-1 {
                width: 45%;
                max-height: 450px;
                @media screen and (min-width: 1200px) {
                    width: 40%;
                }
                margin-right: 30px;
                position: relative;
                & img {
                    height: 80%;
                    object-fit: cover;
                }
            }
            .about-us-image-2 {
                width: 45%;
                max-height: 500px;
                @media screen and (min-width: 1200px) {
                    width: 40%;
                }
                & img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .about-us-image-info {
                background: var(--green);
                position: relative;
                bottom: 60px;
                width: 70%;
                margin: 0 auto;
                text-align: center;
                justify-content: center;
                color: #ffffff;
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                max-width: 170px;
                @media screen and (min-width: 1150px) {
                    min-height: 130px;
                }
                h2 {
                    display: flex;
                    width: 100%;
                    padding-left: 5px;
                    justify-content: center;
                    @media screen and (min-width: 650px) {
                       font-size: 60px;
                        width: 80%;
                    }
                }
                h3 {
                    display: flex;
                    width: 20%;
                    margin: 0;
                    align-self: center;
                    position: relative;
                    right: 8px;
                    span {
                        font-family: "AlbertSans-ExtraBold", Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
    }
    //latest work
    .latest-work {
        position: relative;
        background-size: cover;
        background-position: center;
        &:after {
            content: '';
            position: absolute;
            background: var(--blue);
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.85;
        }
        .latest-work-text {
            position: relative;
            z-index: 1;
            color: #ffffff;
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            padding: 100px 0 400px;
        }
    }
    .team-block {
        .team-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            bottom: 370px;
            flex-direction: column;

            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
        }
        .team-div {
            @media screen and (min-width: 768px) {
                width: 32%;
            }
            img {
                height: 600px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    //team members
    .team-members {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 250px;
        flex-wrap: wrap;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        .team-title {
            width: 100%;
            padding-bottom: 20px;
        }
        .team-div {
            width: 100%;
            position: relative;
            margin-bottom: 110px;
            @media screen and (min-width: 768px) {
                width: 30%;
                margin-bottom: 0px;
            }
            strong {
                font-size: 22px;
                @media screen and (min-width: 900px) {
                    font-size: 30px;
                }
            }
            p {
                font-size: 20px;
            }
            div {
                position: absolute;
                bottom: -90px;
                width: 100%;
                background: var(--green);
                color: #ffffff;
                text-align: center;
                padding: 5px 0 20px;
            }
        }
    }

    //latest work div
    .latest-work-div {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 350px;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        .work-image {
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 30%;
            }
            img {
                height: 500px;
                object-fit: cover;
            }
        }
    }
}