#footer {
    margin-top: -160px;
    padding: 10px;
    .page-template-contact_page & {
        margin-top: 200px;
    }
    @media screen and (min-width: 768) {
        padding: 0;
    }

    h4 {
        font-family: 'AlbertSans-Regular';
        font-weight: 100;
        font-size: 18px;
    }
    .row h4 {
        text-transform: uppercase;
    }
    .row {
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    @media (max-width: 1023px){
        padding-top: 30px;
    }

    .container{
        padding: 0;
        @media (min-width: 1400px){
            max-width: 1200px;
        }
    }
    .col-12 {
        margin-top: 30px;
    }
    .col-lg-6 {
        p {
            line-height: 1.3;
        }
    }
    .contact-box {
        background: url('images/sliding-gate.jpg');
        margin: 0 0 60px;
        padding: 20px;
        background-position: center;
        position: relative;
        -webkit-box-shadow: 8px 10px 13px -8px rgba(0,0,0,0.30); 
        box-shadow: 8px 10px 13px -8px rgba(0,0,0,0.30);
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            padding: 40px 50px;
            margin: 60px 0;
            flex-direction: row;
        }
        &:after {
            content: '';
            position: absolute;
            background: white;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.9;
        }
    }
    .contact-info {
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 50%;
        }
        h4 {
            color: var(--green);
        }
        h4,h2,p {
            z-index: 3;
            position: relative;
        }
        p{
            @media screen and (min-width: 768px) {
                max-width: 330px;
            }
        }
    }
    .newsletter {
        display: flex;
        align-items: center;
        width: 100%;
        .wpcf7 {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            width: 50%;
        }
        .wpcf7-form {
            display: flex;
            position: relative;
            z-index: 3;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            } 
        }
        .submit {
            width: 100%;
            display: block;
            margin: 0 auto;
            @media screen and (min-width: 768px) {
                width: unset;
            } 
        }
        .wpcf7-email {
            border: 1px solid;
            border-color: var(--light-grey);
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 97%;
            }
        }
        .wpcf7-submit {
            background-color: var(--green);
            height: 51px;
            width: 100%;
        }
    }

    #copyright{
        font-size: 14px;
        padding: 20px 0;
        text-align:left;
        font-weight: 200;
        -webkit-font-smoothing: antialiased;
    }
    li{
        padding-bottom: 10px;
        &:before {
            content: ">";
            font-size: 15px;
            font-weight: 900;
            padding-right: 7px;
            font-family: 'AlbertSans-Regular';
        }
    }

    a, p{
        color: #000000;
        text-decoration: none;
    }

    .social-icons{
        width: 100%;
        text-align: center;
        img {
            width: 30px;
            padding-top: 20px;
            &:nth-child(2) {
                margin: 0 5px;
            }
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        @media screen and (min-width: 768px) {
            border-top: 1px solid #000000;
        }
    }
    .logo-div {
        .page-template-contact_page & {
            padding-top: 60px;
            @media screen and (min-width: 768px) {
                padding-top: 0;
            }
        }
        img {
            max-width: 160px;
            margin: 0 auto;
            display: flex;
            @media screen and (min-width: 768px) {
                max-width: 350px;
                margin: unset;
            } 
        }
    }
    a {
       &:hover {
        color: var(--green);
       } 
    }
    .page-template-contact_page & {
        margin-top: 1800px;
        background: var(--blue);
        @media screen and (min-width: 768px) {
            margin-top: 600px;
        }
        .container {
            position: relative;
            .contact-box {
                position: absolute;
                width: 100%;
                top: -170px;
            }
            .row {
                padding-top: 130px;
                p, a, h4, li, #copyright {
                    color: #ffffff;
                }
                a:hover {
                    color: var(--green);
                }
                .footer-bottom {
                    border-top: 1px solid #ffffff;
                }
                .social-icons {
                    filter: invert(1);
                }
            }
        }
    }
}