#info-block {
    padding-top: 25px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }
    .info-text {
        @media screen and (min-width: 1200px) {
            width: 50%;
        }
        h3 {
            font-size: 45px;
            line-height: 1;
            font-family: "AlbertSans-Bold", Arial, Helvetica, sans-serif;
        }
        p {
            padding-bottom: 15px;
            line-height: 1.5;
        }
    }
    .enquiry-form {
        justify-content: center;
        display: flex;
        text-align: center;
        flex-direction: column;
        position: relative;
        top: -102px;
        -webkit-box-shadow: 0px 0px 15px -5px #000000; 
        box-shadow: 0px 0px 15px -5px #000000;
        @media screen and (min-width: 1200px) {
            width: 100%;
            max-width: 460px;
        }
        .wpcf7-not-valid {
            border: 1px solid red;
        }
        .wpcf7-date {
            width: 82%;
        }
        @media screen and (min-width: 1200px) {
            .half {
                display: flex;
                width: 82%;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto;
                .wpcf7-form-control-wrap {
                    width: 50%;
                }
                .wpcf7-date {
                    margin-top: 0;
                    width: 100%;
                }
                .wpcf7-tel {
                    width: 100%;
                }
            }
        }
        input, textarea {
            background: unset;
            border: 1px solid var(--light-grey);
        }
        textarea {
            padding: 10px;
            resize: none;
            height: 100px;
        }
        input::placeholder {
            font-size: 10px;
            position: relative;
            top: -15px;
            right: 4px;
            color: var(--light-grey);
        }
        textarea::placeholder {
            font-size: 10px;
            position: relative;
            top: -5px;
            color: var(--light-grey);
        }
        .wpcf7-submit {
            background: #000000;
            width: 82%;
            font-family: "AlbertSans-Bold", Arial, Helvetica, sans-serif;
        }
        .submit {
            display: flex;
            justify-content: center;
            flex-direction: column;
            place-items: center;
            padding-bottom: 30px;
        }
    }
    .enquiry-title {
        background: var(--green);
        padding: 20px;
        font-size: 30px;
        color: #ffffff;
        font-family: "AlbertSans-Bold", Arial, Helvetica, sans-serif;
        border-bottom: 1px solid var(--green);
    }
}