#info-block {
    padding-top: 25px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @media screen and (min-wdith: 768px) {
            flex-direction: column;
        }
    }
    .info-text {
        width: 50%;
        h3 {
            font-size: 45px;
            line-height: 1;
            font-family: "AlbertSans-Bold", Arial, Helvetica, sans-serif;
        }
    }
    .enquiry-form {
        width: 50%;
        justify-content: center;
        display: flex;
        max-width: 40%;
        text-align: center;
        flex-direction: column;
        position: relative;
        top: -102px;
        -webkit-box-shadow: 0px 0px 15px -5px #000000; 
        box-shadow: 0px 0px 15px -5px #000000;
        input, textarea {
            background: unset;
            border: 1px solid var(--light-grey);
        }
        textarea {
            padding: 0 10px;
            resize: none;
        }
        input::placeholder {
            font-size: 10px;
            position: relative;
            top: -10px;
        }
        .wpcf7-submit {
            background: #000000;
            width: 80%;
        }
        .submit {
            display: flex;
            justify-content: center;
            flex-direction: column;
            place-items: center;
        }
    }
    .enquiry-title {
        background: var(--green);
        padding: 20px;
        font-size: 30px;
        color: #ffffff;
        font-family: "AlbertSans-Bold", Arial, Helvetica, sans-serif;
        border-bottom: 1px solid var(--green);
    }
}