#worked-with {
    padding: 250px 0 70px;
    .container {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    .text-area {
        @media screen and (min-width: 768px) {
            width: 35%;
            p {
                width: 90%;
            }
        }
    }
    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        @media screen and (min-width: 768px) {
            width: 70%;
        }
        div {
            width: 33%;
            display: flex;
            justify-content: flex-end;
        }
        img {
            object-fit: contain;
        }
    }
}